## Amazon Sales Data for 2019 (Project Completed in 2021) ##

In [1]:
# import necessary libraries to be used.
import pandas as pd

In [2]:
# read in 2019 sales data set.

jan_2019 = pd.read_csv(r"****\Sales Project\Sales_January_2021.csv")
feb_2019 = pd.read_csv(r"****\Sales Project\Sales_February_2021.csv")
mar_2019 = pd.read_csv(r"****\Sales Project\Sales_March_2021.csv")
apr_2019 = pd.read_csv(r"****\Sales Project\Sales_April_2021.csv")
may_2019 = pd.read_csv(r"****\Sales Project\Sales_May_2021.csv")
jun_2019 = pd.read_csv(r"****\Sales Project\Sales_June_2021.csv")
jul_2019 = pd.read_csv(r"****\Sales Project\Sales_July_2021.csv")
aug_2019 = pd.read_csv(r"****\Sales Project\Sales_August_2021.csv")
sep_2019 = pd.read_csv(r"****\Sales Project\Sales_September_2021.csv")
oct_2019 = pd.read_csv(r"****\Sales Project\Sales_October_2021.csv")
nov_2019 = pd.read_csv(r"****\Sales Project\Sales_November_2021.csv")
dec_2019 = pd.read_csv(r"****\Sales Project\Sales_December_2021.csv")

In [3]:
# take a quick glimpse of a data set
jan_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [4]:
# Create a list of the sales data frames
dflist = [jan_2019, feb_2019 ,mar_2019, apr_2019, may_2019,
          jun_2019, jul_2019, aug_2019, sep_2019, oct_2019, 
          nov_2019, dec_2019]

In [5]:
# create a loop to check for consistent data types in each data frame.
# enumerate creates a counter tuple with the dflist. EXAMPLE: (0, jan_2019)

for i, df in enumerate(dflist):
    print(dflist[i].dtypes)

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [6]:
# Check to see how many rows in total exist

sum_rows=0
for i, df in enumerate(dflist):
    sum_rows += dflist[i].shape[0]
    print(dflist[i].shape)
print("\n" + "Total rows of sales data is: " + str(sum_rows))

(9723, 6)
(12036, 6)
(15226, 6)
(18383, 6)
(16635, 6)
(13622, 6)
(14371, 6)
(12011, 6)
(11686, 6)
(20379, 6)
(17661, 6)
(25117, 6)

Total rows of sales data is: 186850

In [7]:
# Concatenate vertically all the data dataframes to create a 
# Master Sales data of 2019.

sales_2019 = pd.concat([jan_2021, feb_2021, mar_2021, apr_2021,
         may_2021, jun_2021, jul_2021, aug_2021,
         sep_2021, oct_2021, nov_2021, dec_2021])

In [8]:
# Check if data sets concatentated correctely

sales_2019.shape

(186850, 6)

In [9]:
# Clear leading and trailing whitespace from values

sales_2021["Order ID"].str.strip()
sales_2021["Product"].str.strip()
sales_2021["Quantity Ordered"].str.strip()
sales_2021["Price Each"].str.strip()
sales_2021["Order Date"].str.strip()
sales_2021["Purchase Address"].str.strip()

0               944 Walnut St, Boston, MA 02215
1              185 Maple St, Portland, OR 97035
2         538 Adams St, San Francisco, CA 94016
3            738 10th St, Los Angeles, CA 90001
4                 387 10th St, Austin, TX 73301
                          ...
25112    14 Madison St, San Francisco, CA 94016
25113      549 Willow St, Los Angeles, CA 90001
25114          273 Wilson St, Seattle, WA 98101
25115            778 River St, Dallas, TX 75001
25116    747 Chestnut St, Los Angeles, CA 90001
Name: Purchase Address, Length: 186850, dtype: object

In [10]:
# Check how many missing values there are in each column

sales_2019.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [11]:
# Drop rows with missing values

sales_2019.dropna(inplace=True)

In [12]:
# verify that missing values were removed

sales_2019.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [13]:
# check for duplicates

sales_2019.duplicated().value_counts()

False    185687
True        618
dtype: int64

In [14]:
# remove duplicate rows from the data set

sales_2019 = sales_2019.drop_duplicates()

In [15]:
# verify duplicates have been dropped

sales_2019.duplicated().value_counts()

False    185687
dtype: int64

In [16]:
# observe the unique values of Price Each

sales_2019['Price Each'].unique()

array(['700', '14.95', '11.99', '149.99', '2.99', '389.99', '11.95',
       '99.99', '150', '1700', '300', '400', '3.84', '600', '109.99',
       '379.99', '999.99', '600.0', 'Price Each', '700.0', '150.0',
       '300.0', '1700.0', '400.0'], dtype=object)

In [17]:
# Check how many rows are affect with values ending with only .0

sales_2019["Price Each"].str.endswith(".0").sum()

1535

In [18]:
# Check how many rows end with a value of .00

sales_2019["Price Each"].str.endswith(".00").sum()

0

In [19]:
# check how many rows ends with a value of 0

sales_2019["Price Each"].str.endswith("0").sum()

40779

In [20]:
# Remove values in "Price Each" column that ends with .0

sales_2019["Price Each"].replace(r"\.0$","", inplace=True, regex=True)

In [21]:
# Replace values in "Price Each" column that ends with 0 and add 0.00

sales_2019["Price Each"].replace(r"0$", "0.00", inplace=True, regex=True)

In [22]:
# Verify that the changes were accurately completed

print(sales_2019["Price Each"].str.endswith(".0").sum())
print(sales_2019["Price Each"].str.endswith("0").sum())
print(sales_2019["Price Each"].str.endswith(".00").sum())

0
40779
40779

In [23]:
# Check the Price Each column to make sure all values end with 2 decimal places

sales_2019["Price Each"].unique()

array(['700.00', '14.95', '11.99', '149.99', '2.99', '389.99', '11.95',
       '99.99', '150.00', '1700.00', '300.00', '400.00', '3.84', '600.00',
       '109.99', '379.99', '999.99', 'Price Each'], dtype=object)

In [24]:
# Check data set to make sure no data was lost during modifications

print(sales_2019.shape)
sales_2019

(185687, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [25]:
# Reorder columns

sales_2019 = sales_2019[['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']]

In [26]:
# Split Current Address Values into 3 new Columns

sales_2019[['Address', 'City', 'State/Zip']] = sales_2021['Purchase Address'].str.split(",", expand=True)

In [27]:
# Clear whitespace from "State/Zip" column

sales_2019['State/Zip'].str.strip()

0        MA 02215
1        OR 97035
2        CA 94016
3        CA 90001
4        TX 73301
           ...
25112    CA 94016
25113    CA 90001
25114    WA 98101
25115    TX 75001
25116    CA 90001
Name: State/Zip, Length: 185687, dtype: object

In [28]:
# Create new columns 3 State/Zip column

sales_2019[['blank','State', 'Zip Code']] = sales_2019['State/Zip'].str.split(" ", expand=True)

In [29]:
# Drop any unneeded columns

sales_2019 = sales_2019.drop(['Address', 'State/Zip', 'blank'], axis=1)

In [30]:
# Check Changes of adjustments to new columns

sales_2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,State,Zip Code
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",Boston,MA,02215
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",Portland,OR,97035
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",Austin,TX,73301
...,...,...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",San Francisco,CA,94016
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",Los Angeles,CA,90001
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",Seattle,WA,98101
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",Dallas,TX,75001
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",Los Angeles,CA,90001

In [31]:
sales_2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,State,Zip Code
0,141234,iPhone,1,700.00,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",Boston,MA,02215
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",Portland,OR,97035
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",Austin,TX,73301
...,...,...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",San Francisco,CA,94016
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",Los Angeles,CA,90001
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",Seattle,WA,98101
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",Dallas,TX,75001
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",Los Angeles,CA,90001

In [32]:
# Convert Order Date column to datetime datatype

sales_2019['Order Date'] = pd.to_datetime(sales_2019['Order Date'], errors='coerce')

In [33]:
# Convert Order Date column to type String

sales_2019 = sales_2019.astype({"Order Date": "string"})

In [35]:
# Convert Order Date column to datetime datatype

sales_2019['Order Date'] = pd.to_datetime(sales_2019['Order Date'], errors='coerce')

In [36]:
# Check adjustments to Order Date column

sales_2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,State,Zip Code
0,141234,iPhone,1,700.00,2021-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",Boston,MA,02215
1,141235,Lightning Charging Cable,1,14.95,2021-01-28 14:15:00,"185 Maple St, Portland, OR 97035",Portland,OR,97035
2,141236,Wired Headphones,2,11.99,2021-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,2021-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,2021-01-25 11:59:00,"387 10th St, Austin, TX 73301",Austin,TX,73301
...,...,...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,2021-12-11 20:58:00,"14 Madison St, San Francisco, CA 94016",San Francisco,CA,94016
25113,319667,AA Batteries (4-pack),2,3.84,2021-12-01 12:01:00,"549 Willow St, Los Angeles, CA 90001",Los Angeles,CA,90001
25114,319668,Vareebadd Phone,1,400.00,2021-12-09 06:43:00,"273 Wilson St, Seattle, WA 98101",Seattle,WA,98101
25115,319669,Wired Headphones,1,11.99,2021-12-03 10:39:00,"778 River St, Dallas, TX 75001",Dallas,TX,75001
25116,319670,Bose SoundSport Headphones,1,99.99,2021-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001",Los Angeles,CA,90001

In [37]:
# Remove row where error value found in Order ID column

sales_2019.drop(sales_2019[sales_2019["Order ID"] == "Order ID"].index, inplace=True)

In [38]:
# Check if error value was correctly removed.

sales_2019[sales_2019['Quantity Ordered'].str.contains("Quantity")]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, City, State, Zip Code]
Index: []

In [39]:
# Check for any errors in Product columns

sales_2019['Product'].value_counts()

USB-C Charging Cable          21857
Lightning Charging Cable      21609
AAA Batteries (4-pack)        20610
AA Batteries (4-pack)         20557
Wired Headphones              18849
Apple Airpods Headphones      15524
Bose SoundSport Headphones    13298
27in FHD Monitor               7497
iPhone                         6840
27in 4K Gaming Monitor         6225
34in Ultrawide Monitor         6174
Google Phone                   5521
Flatscreen TV                  4794
Macbook Pro Laptop             4720
ThinkPad Laptop                4125
20in Monitor                   4098
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: Product, dtype: int64

In [40]:
# Check for any errors in Quantity Ordered Column

sales_2019['Quantity Ordered'].value_counts()

1    168280
2     13321
3      2920
4       806
5       236
6        80
7        24
8         5
9         3
Name: Quantity Ordered, dtype: int64

In [41]:
# Check for any errors in Price Each Column


sales_2019['Price Each'].value_counts()

11.95      21857
14.95      21609
2.99       20610
3.84       20557
11.99      18849
150.00     15524
99.99      13298
149.99      7497
700.00      6840
600.00      6833
389.99      6225
379.99      6174
300.00      4794
1700.00     4720
999.99      4125
109.99      4098
400.00      2065
Name: Price Each, dtype: int64

In [42]:
# Check for any errors in City Column


sales_2019['City'].value_counts()

 San Francisco    44659
 Los Angeles      29564
 New York City    24847
 Boston           19901
 Atlanta          14862
 Dallas           14794
 Seattle          14712
 Portland         12448
 Austin            9888
Name: City, dtype: int64

In [43]:
# Check for any errors in State Column


sales_2019['State'].value_counts()

CA    74223
NY    24847
TX    24682
MA    19901
GA    14862
WA    14712
OR     9997
ME     2451
Name: State, dtype: int64

In [44]:
# Check for any errors in Zip Code Column


sales_2019['Zip Code'].value_counts()

94016    44659
90001    29564
10001    24847
02215    19901
30301    14862
75001    14794
98101    14712
97035     9997
73301     9888
04101     2451
Name: Zip Code, dtype: int64

In [45]:
# Change data types of all columns through a dictionary paramenter pass.

sales_2019 = sales_2019.astype({"Order ID": "string", "Product": "string", "Quantity Ordered": "int32",
                               "Price Each": "float64", "Purchase Address": "string", "City":"string",
                                "State":"string", "Zip Code": "string"})

In [46]:
# Check accuracy of data type adjustments.

sales_2019.dtypes

Order ID                    string
Product                     string
Quantity Ordered             int32
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            string
City                        string
State                       string
Zip Code                    string
dtype: object

In [47]:
# Final check on data set.

sales_2019.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,State,Zip Code
0,141234,iPhone,1,700.00,2021-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",Boston,MA,02215
1,141235,Lightning Charging Cable,1,14.95,2021-01-28 14:15:00,"185 Maple St, Portland, OR 97035",Portland,OR,97035
2,141236,Wired Headphones,2,11.99,2021-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,2021-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,2021-01-25 11:59:00,"387 10th St, Austin, TX 73301",Austin,TX,73301
5,141239,AAA Batteries (4-pack),1,2.99,2021-01-29 20:22:00,"775 Willow St, San Francisco, CA 94016",San Francisco,CA,94016
6,141240,27in 4K Gaming Monitor,1,389.99,2021-01-26 12:16:00,"979 Park St, Los Angeles, CA 90001",Los Angeles,CA,90001
7,141241,USB-C Charging Cable,1,11.95,2021-01-05 12:04:00,"181 6th St, San Francisco, CA 94016",San Francisco,CA,94016
8,141242,Bose SoundSport Headphones,1,99.99,2021-01-01 10:30:00,"867 Willow St, Los Angeles, CA 90001",Los Angeles,CA,90001
9,141243,Apple Airpods Headphones,1,150.00,2021-01-22 21:20:00,"657 Johnson St, San Francisco, CA 94016",San Francisco,CA,94016

In [48]:
# save a copy of the sales 2021 data set as .csv

sales_2019.to_csv(r"C:\Users\yanri\OneDrive\Desktop\Sales Project\Amazon_Sales_2019.csv", encoding='utf-8', index=False)

In [49]:
## This is a list of the changes made.
## Changelog

# Concatentate Monthly Datasets into one Year dataset
    # Calculate total rows and columns that exist from all data sets
    # Concatentate datasets and then compare rows/columns to check accuracy of concat.
    
# Clean data set.
    # Clear whitespace from values
    # Check how many missing values
    # Check for duplicates
    # Check accuracy of column values
        # Price Each column has inconsistent values. Make changes.
    # Separate Purchase Address into multiple new columns
        # Create new Pruchase Address column
        # Create new City column
        # Create new State column
        # Create new Zip Code column
        
# Change columns to be accurate data types
    # Order ID - String
    # Product ID - String
    # Quantity Ordered - Integer
        # Quantity Order that had a bad value existed: Removed*
    # Price Each - Float
    # Order Date - DateTime
    # Purchase Address - String
    # City - String
    # State - String
    # Zip Code - String
    
# Anything else?